body {
    background-color: black;
    color: gray;
    font-family: Consolas;
    font-size: 200%;
    text-align: center;
}

#name {
    color: #CD3333;
}

#coming {
    color: #00EE00;
}

#mail {
    color: #B5B5B5;
}

span {
    color: #CD661D;
}

.button {
    background: #8B8989;
    background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100% );
    color: #00EE00;
    box-shadow: inset 0 1px 0 0 #9fd574;
    font-family: Consolas;

    border: 1px solid rgba(255, 255, 255, .4);
    -moz-border-radius: 4px;
    font-size: 80%;
    -webkit-border-radius: 4px;
    cursor: pointer;

}

.button:hover {
    background: #8B8989;
    border: 1px solid darkcyan;


}
.button:active {
    background: ghostwhite;
    border: 1px solid darkseagreen;
}

#email {

    width: 500;
    height: 40;
    border: 1px solid rgba(255, 255, 255, .4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-family: Consolas;
    font-size: 80%;
    margin: 5px;
}

#center {
    top: 50%;
    left: 50%;
    width: 750px;
    height: 450px;
    position: absolute;
    margin-top: -225px;
    margin-left: -350px;
}

*:focus {outline: none;}

